[submodule "vendor/github.com/codegangsta/cli"]
    path = vendor/github.com/codegangsta/cli
    url = https://github.com/codegangsta/cli.git
[submodule "vendor/github.com/Sirupsen/logrus"]
    path = vendor/github.com/Sirupsen/logrus
    url = https://github.com/Sirupsen/logrus.git
[submodule "vendor/gopkg.in/yaml.v2"]
    path = vendor/gopkg.in/yaml.v2
    url = https://gopkg.in/yaml.v2.git
[submodule "vendor/github.com/fsouza/go-dockerclient"]
    path = vendor/github.com/fsouza/go-dockerclient
    url = https://github.com/fsouza/go-dockerclient.git
[submodule "vendor/github.com/fgrehm/go-dockerpty"]
    path = vendor/github.com/fgrehm/go-dockerpty
    url = https://github.com/fgrehm/go-dockerpty.git
[submodule "vendor/github.com/stretchr/testify"]
    path = vendor/github.com/stretchr/testify
    url = https://github.com/stretchr/testify.git
[submodule "vendor/golang.org/x/crypto"]
    path = vendor/golang.org/x/crypto
    url = https://github.com/golang/crypto.git

